:root {
    --rows: 1;
    --cols: 1;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(113, 115, 247);
}

h1 {
    font-weight: 900;
}
.options {

    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.grid-size {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
    margin-right: 115px;
}

#container {
    display: grid;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    grid-template-columns: repeat(var(--cols),minmax(0, 1fr));
    grid-template-rows: repeat(var(--rows), 1fr);
    
}

.grid {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    min-width: 0;
}

.button {
    padding: 20px;
    width: 90px;
    height: 90px;
    border-radius: 25%;
    transition: .2s ease-in-out 0s;
    border: none;
    background-color: white;
    font-weight: 700;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.445),0 17px 50px 0 rgba(0, 0, 0, 0.329);
    transform: scale(1.15);  
}

#size {
    align-self: center;
    margin-right: 20px;
}

.button.change-eraser:hover {
    background-color: grey;
    color: white;
}

.button.change-black:hover {
    background-color: black;
    color: white;
}

.button.change-random:hover {
    color: white;
}